// Base style sheet
$sans-serif-font: Muli, "Helvetica", Arial, sans-serif;
$pale-blue: #ADD5E0;
$aqua: #499988;
$red-orange: #D63C2E;
$orange: #E97B04;
$light-tan: #f7f6e7;
$lighthouse-blue: #41A8C6;
$navy: #0E2D40;

$bg-paper: url(bg-blue-paper.png);

@mixin global-shadows {
	-moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.10);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
	box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.10);
}

a.current {color: desaturate($primary-color, 50%);}

ul, ol {margin-left: 1em;}

.full-orbit img {
	width: 100%;
	height: auto;
}

.orbit-prev, .orbit-next {display: none;}

.button {
	font-family: Muli, sans-serif;
	font-weight: 400;
	text-transform: lowercase;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.reveal-section, .video-component, .panel {
	background: #EEECD9;
}

// .panel {@include global-shadows;}

.page_title {
	// font-size: 3em;
	margin-top: 1em;
}
.main_content {
	background-position: -1000px -1000px;
	background-repeat: no-repeat;

	p, li {font-size: emCalc(18px);}

	p.lead { 
		color: $lighthouse-blue;
		em {color: $orange; font-style: normal;}
	}
}

// .main_content.small-school {
// 	background: #fff url(blocks1.jpg) no-repeat right top fixed;
// }

// Tab components
.section-container section .content, .section-container .section .content {
	background-color: #EEECD9;
}
.section-container.tabs section .content, .section-container.tabs .section .content {
	border: none;
	-webkit-border-radius: 6px;
    border-radius: 6px;
}
.section-container.tabs section:last-child .title, .section-container.tabs .section:last-child .title {
	border:none;
}

.section-container.tabs section .title, 
.section-container.tabs .section .title {
	border: none;
	-webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    margin: 0 20px;
    width: 200px;
    text-align: center;
    font-size: 1em;
    font-family: Muli, sans-serif;
    text-transform: lowercase;
    font-weight: 400;
}

.section-container.tabs section .title a, 
.section-container.tabs .section .title a {font-size: inherit; padding: .5em;}

.section-container.tabs section.active .title, .section-container.tabs .section.active .title {
	background-color: #EEECD9;
}

// Accordian components
.section-container section .title, 
.section-container .section .title {
	font-size: emCalc(18px);
    font-family: Muli, sans-serif;
    text-transform: lowercase;
    font-weight: 400;
}

.section-container section h4, 
.section-container .section h4 {
	font-family: $sans-serif-font;
	font-size: emCalc(16px);
}

.news_events {
	list-style: none;
	li {
		border-bottom: solid 1px #fff;
		padding: 10px 0;
		margin: 5px;
		a {
			color: #499988;
			font-size: emCalc(21px);
			transition: 100ms;
			text-shadow:0px 0px #FF0000;
		}
		a:hover {color: #b7b19f;}
		&:first-child a {
			color: #D63C2E;
		}
		&:first-child a:hover {color: #b7b19f;}

		&:last-child {
			border: none;
			a {
				color: #52504B;
			}
		}
		&:last-child a:hover {color: #b7b19f;}
	}
}

.section-container.tabs .button {background: #fff;}
// .section-container.tabs .button:hover {background: lighten($pale-blue, 10%);}

// @media #{$topbar-media-query} {
// .main_content {
// 	padding: 0 250px 0 160px;
// 	background-position: right 100px;
// 	.page_title, section {
// 		margin-left: -80px;
// 		margin-right: -140px;
// 	}
// }
// }