#footer{
	background:url(../img/footer-bg.png) no-repeat center top #413E36;
	margin:0;
	padding:1.5rem 0 0;
	
	h5 {
		font-size: 24px;
		color: #F8F6E8;
		font-weight: normal;
		margin-bottom: .25em;
	}

	ul{
		list-style-type:none;
		margin-left: 0;

		li{

			font-size: 16px;
			line-height: 24px;
			font-family: $sans-serif-font;
		
			a{
				display:block;
				font-weight: 300;
				font-size: emCalc(15px);
			}
			
		}
	}


}

#credits{
	background:#333;
	color:#eee;
	padding-top:1rem;
	
	#footer-logo{
		float:right;
	}	
}

@media only screen and (min-width: 50em){
	#footer ul li {
		a {color: #B7B19F;}
		a:hover {color: $primary-color;}
	}
}