.home-slide {
	border-bottom: 3px solid #F0582A;
	margin-bottom: 2em;

}

#different-school {
	position: absolute;
	top: 25%; left: 25%;
	width: 20%;
}

.carousel {
	// margin-bottom: 0px;
	
	&.fade {
	    opacity: 1;

	    .item
	    {
	        -moz-transition: opacity ease-in-out .7s;
	        -o-transition: opacity ease-in-out .7s;
	        -webkit-transition: opacity ease-in-out .7s;
	        transition: opacity ease-in-out .7s;
	        left: 0 !important;
	        opacity: 0;
	        top:0;
	        position:absolute;
	        width: 100%;
	        display:block !important;
	        z-index:1;
	        &:first-child{
	            top:auto;
	            position:relative;
	        }

	        &.active
	        {
	            opacity: 1;
	            -moz-transition: opacity ease-in-out .7s;
	            -o-transition: opacity ease-in-out .7s;
	            -webkit-transition: opacity ease-in-out .7s;
	            transition: opacity ease-in-out .7s;
	            z-index:2;
	        }
	    }
    }
}

.home-lead h2 {
	font-size: emCalc(32px);
	line-height: 1.25em;

}

.home-lead h2, .home-lead p {text-align: center;}

#home-bottom-leader {
	background: url(../img/home-bottom-bg.png) center top repeat-x #F7F6E7;
	height: 30px;
}
#home-bottom {
	background: url(../img/butterflies.jpg) no-repeat left bottom #f7f6e7;
	padding-bottom: 40px;
	padding-top: .5em;
}

#facebook{
	margin-top: 43px;
}


@media only screen and (min-width: 30em){

		.home-lead h2, .home-lead p {text-align: left;}

}

@media only screen and (min-width: 50em) {
	.home-lead h2 {font-size: emCalc(36px);}
}


@media only screen and (min-width: 740px) {
.home-lead p.lead {
	background: url(../img/yarn.jpg) no-repeat right -60px;
	padding-right: 400px;
	min-height: 250px;
}
}