.home-slide {
	border-bottom: 3px solid #F0582A;
	margin-bottom: 2em;
}

#different-school {
	position: absolute;
	top: 25%; left: 25%;
	width: 20%;
}

.home-lead h2 {
	font-size: emCalc(32px);
	line-height: 1.25em;

}

.home-lead h2, .home-lead p {text-align: center;}

#home-bottom-leader {
	background: url(../img/home-bottom-bg.png) center top repeat-x #F7F6E7;
	height: 30px;
}

#home-bottom {
	background: #f7f6e7;
	padding-bottom: 40px;
	padding-top: .5em;
	position: relative;
}


#turtle {
	position: absolute;
	top: 10%; left: -10%;
	width: 486px; height: 388px;
	transition: all 400ms ease-in;
	transform:rotate(0deg);
}

#home-bottom.animate #turtle {
	top: 20%; left: 20%;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
}

#home-boxes {
	position: relative;
	z-index: 500;
}



#facebook{
	margin-top: 43px;
}


@media only screen and (min-width: 30em){

		.home-lead h2, .home-lead p {text-align: left;}

}

@media only screen and (min-width: 50em) {
	.home-lead h2 {font-size: emCalc(36px);}
}


@media only screen and (min-width: 740px) {
	.home-lead p.lead {
		background: url(../img/yarn2.jpg) no-repeat right -60px;
		padding-right: 400px;
		min-height: 250px;
	}
}