#flag{
	background:red;
	display:block;
	height:15px;
}

.top-bar {
	background: none;
	section ul, section ul a {
		background: none !important;
		color: #115467;
		ul {
			background: #9CB9C2 !important;
		}
	}
}
#top-nav{
	background: none;
		.top-links{
		
		a{
			text-align:center;
			display:inline-block;
			margin: 0;
		}

		a#calendar{
			background:#7bc1d4 url(../img/calendar_icon.png) no-repeat center 4px;
			padding: 25px 0 6px 0;/* calendar: */
			font-family: AvenirNext-DemiBold;
			font-size: 14px;
			color: #FFFFFF;
			line-height: 19px;
			text-transform: lowercase;
			width: 86px;

		}

		a#apply{
			background:#68b7cf url(../img/apply_icon.png) no-repeat center 4px;
			padding: 25px 0 6px 0;/* calendar: */
			font-family: AvenirNext-DemiBold;
			font-size: 14px;
			color: #FFFFFF;
			line-height: 19px;
			text-transform: lowercase;
			width: 86px;

		}
	}

	.hide-for-small{
		text-align:right;
	}

	.show-for-small{
		text-align:center;
		margin:1rem auto;
	}

	img{
		margin:10px;
		display:block;
	}

}
@media #{$topbar-media-query} {
	.top-bar-section .divider {
		display: none;
	}
	.top-bar-section .has-dropdown > a {
		padding-right: 30px !important;
		padding-left: 5px;
	}
	.top-bar-section li a:not(.button) {
		padding: 0 10px;
	}
}