#flag{
	background:red;
	display:block;
	height:15px;
}

header {
	background: url(bg-blue-paper.png);
	border-bottom: 6px solid #9CB9C2;

	@include global-shadows;
}

.lighthouse-school-logo {
	// padding: 0 !important;
	display: block;
	margin: 4px auto 0;
	width: 248px;
}

#top-links {

	float: right;

	li {
		font-family: $sans-serif-font;
		letter-spacing: 1px;
		font-weight: 400;
		font-size: emCalc(14px);
		line-height: 19px;
		text-transform: lowercase;
		color: #fff;
		height: 25px;
		background: #ADD5E0;
		margin: 0;
		text-align: center;
		transition: background 300ms;
		a {color: #fff;transition: background 300ms, color 300ms;}
	}

	li#nav-contact {
		width: 380px;
		padding-top: 3px;
		letter-spacing: 0;
		a {display: inline; }
		a:hover {color: $navy;}
	}
	li#calendar-link {display: none; background: #7BC0D3; width: 86px; padding-top: 6px;}
		li#calendar-link:hover {background: darken(#7BC0D3, 10%);}
	li#apply-link {display: none; background: #68B8CF; width: 86px; padding-top: 6px;}
		li#apply-link:hover {background: darken(#68B8CF, 10%);}
	li#social-links {
		width: 50px;
		a {display: block; height: 25px; text-align: center; width: 25px; float: left;}
	}

	#twitter-link {background: #4DADC8; padding-top: 6px;}
		#twitter-link:hover {background: darken(#4DADC8,10%);}
	#facebook-link {background: #3393AF; padding-top: 4px;}
		#facebook-link:hover {background: darken(#3393AF, 10%);}

}


nav.top-bar { //these are default styles

	margin-top: 1em;
	margin-bottom: 0;
	font-family: $sans-serif-font;
	font-weight: 300;
	background: #ADD5E0;

	a {
		font-family: $sans-serif-font;
		transition: color 300ms;
	}
}

@media #{$topbar-media-query} { //this is when the top-bar expands


	nav.top-bar {
		background: none;
		margin-bottom: 0;
		float: right;
		margin-top: -29px;
		section ul, section ul a {
			background: none !important;
			color: #115467;
			font-weight: 300;
			ul {
				background: #fff !important;
			}
		}

		section ul, section ul a:hover {
			color: #fff;
		}
	}
	.top-bar-section .has-dropdown > a:after {
		border: solid 6px;
		border-color: #9DC9D6 transparent transparent transparent;
	}
	.top-bar-section .divider {
		display: none;
	}
	.top-bar-section .has-dropdown > a {
		padding-right: 30px !important;
		padding-left: 5px;
	}
	.top-bar-section li a:not(.button) {
		padding: 0 6px;
	}

	.top-bar-section .dropdown {
		padding: .5em;
		-moz-box-shadow:    0px 4px 4px 0px rgba(0,0,0,0.20);
		-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.20);
		box-shadow:         0px 4px 4px 0px rgba(0,0,0,0.20);
		transition: background 300ms;
	}

	.top-bar-section .dropdown li {
		border-bottom: 1px solid #E0E0E0;
	}

	.top-bar-section .dropdown li:last-child {border-bottom: 0px;}

	.top-bar-section .dropdown li a {
		padding: 7px 15px;
		line-height: 1.4em;
		font-weight: 400;
	}

	.top-bar-section .dropdown li a:hover {color: lighten(#34796B,20%);}
}

@media only screen and (min-width: 30em){
		.lighthouse-school-logo {margin: .5em 0;}
		#top-links li#nav-contact {padding: 24px;}
		#top-links li {height: 50px; }
		#top-links li#social-links {width: 25px;}
}

@media only screen and (min-width: 50em){
		#top-links {
			li#calendar-link {display: inline-block;}
			li#apply-link {display: inline-block;}
		}


}

@media only screen and (min-width: 60em){
			nav.top-bar {
			width: 730px;
			}
	
}