
.style-guide {
	h2 {border-bottom: 1px solid $body-font-color;}
	h3 {color: $red-orange;}
	.sample-heading {font-family: $header-font-family; font-size: emCalc(32px);}
	.note {font-size: emCalc(13px);}
	// .content.guide {padding: 3rem !important;}

	.guide-colors {

		.swatch-wrap {
			border: solid 1px #ccc;
			padding: 5px;

			figcaption {
			color: #959595;
			font-size: 12px;
			font-weight: bold;
			line-height: 1.5em;
			padding: 5px 0 0;
			}
		}

		.swatch-holder {
			// width: 88px;
			height: 88px;
			background: #e1e1e1;
			border: solid 1px #e1e1e1;
		}
		// figure {
		// 	height: 200px; width: 200px;
		// 	background: #fff;
		// 	padding: 1rem 0;
		// 	display: block;
		// 	border: 1px solid lighten($body-font-color, 50%);
		// }
		// .color {width: 150px; height: 150px; margin: 0 auto;}
		// .color-one {background: $light-tan;}
		// figcaption {text-align: center; margin: 1rem 0;}
	}

	.instructions, .instructions li {color: lighten($body-font-color, 15%); font-size: 1em;}

}