// Web fonts
@import "_mrs-eaves";

// Global Foundation settings and variables
@import "settings";

// Site specific variables
@import "variables";

// Site specific mixins
@import "mixins";

// Site specific styles
@import "base";

// Reusable components 
@import "components";

// Style guide 
@import "style_guide";

// Top Nav and header 
@import "nav";

// Footer 
@import "footer";

// Homepage 
@import "home";

// News Pages 
@import "news";

// Faculty and Trustees Pages
@import "bios";