// Web fonts
@import "_mrs-eaves";

// Global Foundation settings and variables
@import "settings";

// Site specific variables
@import "variables";

// Site specific mixins
@import "mixins";

// Site specific styles
@import "base";

// Reusable components 
@import "components";

// Style guide 
@import "style_guide";

// Top Nav and header 
@import "nav";

// Footer 
@import "footer";

// Homepage 
@import "home";

// News Pages 
@import "news";

// Faculty and Trustees Pages
@import "bios";

.full-orbit img {
	width: 100%;
	height: auto;
}
.button, .button.secondary {
	background-color: #F6AD00;
	-webkit-border-radius: 6px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    text-transform: lowercase;
}
.button:hover {
	background-color: #EBA500;
}
.button.secondary:hover {
	background-color: #fff;
}

.reveal-section, .video-component, .panel {
	background: #EEECD9;
}
.page_title {
	font-size: 3.125em;
	margin-top: 1em;
}
.main_content {
	background-position: -1000px -1000px;
	background-repeat: no-repeat;
}

@media #{$topbar-media-query} {
.main_content {
	padding: 0 250px 0 160px;
	background-position: right 100px;
	.page_title, section {
		margin-left: -80px;
		margin-right: -140px;
	}
}
}